body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main {
    flex-grow: 1;
    background-color: gray;
}
